@import "tailwindcss";

@config "./tailwind.config.ts";

:root {
  --background: #F0EEED;
  --foreground: #191919;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #191919;
  --foreground: #F0EEED;
}

body {
  background: #F0EEED;
  color: #191919;
  font-family: Arial, Helvetica, sans-serif;
}

html.dark body {
  background: #191919;
  color: #F0EEED;
}
